/* Variabler */
:root {
    --bg-color: hsl(24, 44%, 58%);
    --bg-secondary-color: hsl(0, 0%, 95%);
    --bg-tertiary-color: hsl(0, 0%, 80%);
    --primary-color: hsl(166 0% 4.5%);
    --secondary-color: hsl(14, 100%, 37%);
    --tertiary-color: hsl(216, 100%, 37%);
    --border-radius: 1rem;
}

@media (prefers-color-scheme: dark) {
    :root {    
    --bg-color: hsl(19, 81%, 8%);
    --bg-secondary-color: hsl(20, 100%, 16%);
    --bg-tertiary-color: hsl(0, 2%, 8%);
    --primary-color: hsl(0, 0%, 100%);
    --secondary-color: hsl(60, 90%, 88%);
    --tertiary-color: hsl(216, 100%, 37%);
    }
}

/* Grundläggande */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* Nu är 1 rem lika med 10 px */
}

body {
    background-color:var(--bg-color);
    font-family: 'Open Sans', sans-serif;
    color: var(--primary-color);
}

/* Container för recept-delen */
.container {
    position: relative;
    max-width: 128rem;
    margin: 0 auto;
    background: var(--bg-secondary-color);
    padding: 0 6.4rem 6.4rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    border-radius: var(--border-radius)
}

/* Hero */
.hero {
    width: calc(100% + 12.8rem);
    margin: -6.4rem -6.4rem 3.2rem;
    height: 50rem;
    overflow: hidden;
    position: relative;
}

.hero img {
    position: absolute;
    padding: 0 0.2rem 0 0.2rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Recept Innehåll */
.recept-content {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

:is(.ingredienser, .instruktioner) li:hover {
    font-size: 2.4rem;
}

/* Rubrik & Beskrivning */
.recept-content__intro h1 {
    color: var(--secondary-color);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
}

.recept-content__intro p {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.4;
    background-color: var(--bg-tertiary-color);
    padding: 2.4rem;
    border-radius: var(--border-radius)
}

/* Ingredienser */
.ingredienser__heading {
    display: flex;
    align-items: baseline;
    margin-bottom: 1.6rem;
}

.ingredienser__heading h2 {
font-size: 2.4rem;
font-weight: 600;
}

.ingredienser__heading span {
    font-size: 2.4rem;
    font-weight: 400;
    margin-left: 1.6rem;
}

.ingredienser ul {
    list-style: disc inside;
    padding-left: 2.4rem;
    font-size: 1.6rem;
    margin-top: 12px;
}

.ingredienser ul li {
    margin-bottom: 0.8rem;
    line-height: 1.4;
}

/* Instruktioner */
.instruktioner h2 {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
}

.instruktioner ol {
    list-style: decimal inside;
    padding-left: 1.6rem;
    font-size: 1.6rem;
    margin-top: 12px;
}

.instruktioner ol li {
    margin-bottom: 0.8rem;
    line-height: 1.4;
}

/* Serveringförslag */
.servering h2 {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
}

.servering__images {
    display: flex;
    justify-content: space-between;
    gap: 2.4rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.servering__images img {
    flex: 1 1 48%;
    width: 54rem;
    height: 40rem;
    object-fit: cover;
    border-radius: var(--border-radius)
}

/* Tillgänglighetsanpassning */
section[tabindex="0"]:focus-visible { /* (Ny) Rutan dyker endast upp när man tabbar */
    outline: 3px solid var(--secondary-color);
    background-color: hsl(25, 37%, 84%);
}

:is(.ingredienser, .instruktioner) li:hover {
    font-size: 2.4rem;
    transform: scale(1.05);  
}

:is(.ingredienser, .instruktioner) li {
    transition: 
        font-size 0.2s ease,
        transform 0.3s ease; 
}