@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* Nu är 1 rem lika 10 px */
}

body {
    background-color: #A100004D;
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    color: black;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 64px;
  position: relative;
}

/* Hero-sektionen bryter sig ut, men är centrerad */
.hero-container {
  position: relative;
  width: 100vw;           /* Tar hela viewport-bredden */
  left: 50%;              /* Flyttar startpunkten till mitten av main */
  transform: translateX(-50%); /* Flyttar tillbaka hälften av viewport-bredden */
  height: 500px;
  overflow: hidden;
  margin-bottom: 64px;
}

/* Bilden täcker hela hero-container utan att förvrängas */
.hero-container img {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
}
/* Recept sektion */
.recept-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: red;
}
/* Rubrik och beskrivning */
.recept-header h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;

}